<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <!-- <h3>Listing Details :</h3> -->
            <div class="card">
                <h1><%= listing.title %></h1>
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listingImg">
                <div class="card-body">
                    <p class="card-text">
                        
                        <%= listing.description %>
                        <br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        <br>
                        <%= listing.location %>
                        <br>
                        <%= listing.country %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-8 offset-2 btns">
            <a class="btn btn-dark" href="/listings/<%= listing._id %>/edit">Edit</a>
            <form class="offset-1" method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
                <button class="btn btn-dark">Delete</button>
            </form>
        </div>
    </div>
    <br>
    <div class="col-8 offset-2 mb-3">
        <hr>
        <h4>Leave a review</h4>
        <form novalidate class="needs-validation" method="post" action="/listings/<%= listing._id %>/reviews">
            <div>
                <label class="form-label" for="rating">Rating</label>
                <input class="form-control" type="range" min="1" max="5" id="rating" name="review[rating]">
            </div>
            <div>
                <label class="form-label" for="comment">Comments</label>
                <textarea class="form-control" name="review[comment]" id="comment" required></textarea>
                <div class="invalid-feedback">
                    Please add some comments
                </div>
            </div>
            <br>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
    <div class="col-8 offset-2">
        <h3>All Reviews</h3>
    </div>
    <div class="col-8 offset-2 mt-2 review-container">
        <% listing.reviews.forEach(review => { %>
            <div class="review-card">
                <div class="review-card-body">
                    <h5 class="review-card-title">
                        <% for (let i = 0; i < review.rating; i++) { %>
                            <i class="fa-solid fa-star"></i>
                        <% } %>
                    </h5>
                    <p class="review-card-text"><%= review.comment %></p>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-outline-light review-del-btn">Delete Review</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
