<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <!-- <h3>Listing Details :</h3> -->
            <div class="card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listingImg">
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b>
                        <br>
                        <%= listing.description %>
                        <br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                        <br>
                        <%= listing.location %>
                        <br>
                        <%= listing.country %>
                    </p>
                </div>
                <div class="btns">
                    <a class="btn btn-dark" href="/listings/<%= listing._id %>/edit">Edit</a>
                    <form class="offset-1" method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
                        <button class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>