<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <!-- <h3>Listing Details :</h3> -->
            <div class="card">
                <h1><%= listing.title %></h1>
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listingImg">
                <div class="card-body">
                    <p class="card-text"><i>Owned by <%= listing.owner.username %></i></p>
                    <p class="card-text"><%= listing.description %></p>
                    <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %> / night</p>
                    <p class="card-text"><%= listing.location %></p>
                    <p class="card-text"><%= listing.country %></p>
                </div>
            </div>
        </div>
        <% if(currUser && currUser._id.toString() === listing.owner._id.toString()) { %>
            <div class="col-8 offset-2 btns">
                <a class="btn btn-dark" href="/listings/<%= listing._id %>/edit">Edit</a>
                <form class="offset-1" method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
        <% } %>
    </div>
    <div class="col-8 offset-2 mb-3">
        <hr>
        <h4>Leave a review</h4>
        <form novalidate class="needs-validation" method="post" action="/listings/<%= listing._id %>/reviews">
            <fieldset class="starability-slot">
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate0" name="review[rating]" value="1" checked/>
            </fieldset>
            <div>
                <label class="form-label" for="comment">Comments</label>
                <textarea class="form-control" name="review[comment]" id="comment" required></textarea>
                <div class="invalid-feedback">
                    Please add some comments
                </div>
            </div>
            <br>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
    <div class="col-8 offset-2">
        <h3>All Reviews</h3>
    </div>
    <div class="col-8 offset-2 review-container">
        <% listing.reviews.forEach(review => { %>
            <div class="review-card">
                <div class="review-card-body">
                    <h5 class="review-card-title">
                        <% for (let i = 0; i < review.rating; i++) { %>
                            <i class="fa-solid fa-star"></i>
                        <% } %>
                    </h5>
                    <p class="review-card-text review-card-comment"><%= review.comment %></p>
                    <p class="review-card-text"><i>~ <%= review.createdBy.username %></i></p>
                    <% if(currUser && currUser._id.toString() === review.createdBy._id.toString()) { %>
                        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-outline-light review-del-btn">Delete Review</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</body>
